@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 100px;
	background: #eee;
	font-family: Verdana;
}

/* Card */
.card {
	width: 400px;
	height: 500px;
	margin: 0 auto;
	perspective: 1400px;
	position: relative;

	left: 0;
	transition: left 1s;
}
/* Left card */
.left-card {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	/* box-shadow: 0 4px 6px rgba(255, 153, 153, 0.5), 0 1px 3px rgba(255, 255, 255, 0.8); */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(255, 255, 255, 0.8);
	transition: transform 1s;
	transform-style: preserve-3d;
	transform-origin: 0 0;
}

.left-card img {
	width: 100%;
	height: 100%;
}

.left-card .front,
.left-card .back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	backface-visibility: hidden;
}

.left-card .back {
	background: #f4f4f4;
	transform: rotateY(180deg);
}

/* Open card */
.card.open .left-card {
	transform: rotateY(-180deg);
}

.card.open {
	left: 150px;
}

/* Right card */
.right-card {
	width: 400px;
	height: 500px;
	background: #fff;
	text-align: center;
	padding: 30px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(255, 255, 255, 0.8);
	color: #444;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background: url("./heart-removebg-preview.png") no-repeat center;
	background-size: 120%;
}

.right-card h2 {
	color: crimson;
	margin-top: 40px;
	font-family: "Parisienne", cursive;
	font-size: 50px;
}

.text {
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	font-size: 20px;
	text-align: justify;
	margin: 0 20px;
	color: #006400;
}
.text p {
	margin: 4px 0px;
}
